<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>字符串模板:<%=test%></p>
    <ul>
        <li>for循环</li>
        <% for(let user of users){ %>
        <li><%=user%></li>
        <% } %>
    </ul>
</body>
</html>